{% extends 'base.html' %}

{% block body%}
<i> <center>
<h1>Hello! So glad you could join us today </h1> <img src="https://c.tenor.com/Wq-MvpjAJksAAAAC/emojilaugh-emoji.gif" alt=" width="50 height="50">
</i> </center>
<h1>
<p>Question: How are you feeling with school at the moment?</p>
               <select Name="mood">
                   <option value="insecure about school work">insecure about school work</option>
                   <option value="discouraged about school work">discouraged about school work</option>
                   <option value="stuck about school work">stuck about school work</option>
               </select>      
               <form action="" method='get'>
       
        <input type="submit" name="" value="Submit Feedback">
      </h1>
        <html>
<head>
<style>
  h1 {color:rgb(255, 0, 170);}
  p {color:rgb(0, 0, 0);}
</style>

{% endblock %}